body {
  background-color: white;
}

.location-display {
  border: 1px solid;
}

.location-display .first-level-path {
  display: flex;
  background-color: #fcfbfa;
}

#directory-actions {
  outline: none;
  background-color: transparent;
}
