body {
  background-color: #5a5151;
  color: #111111;
  font-family: "Ubuntu", sans-serif;
}

.main {
  background-color: #fcfbfa;
}

.nav {
  display: flex;
  background-color: #dbdbdb;
  padding: 8px;
}
